body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(220, 224, 102);
    padding: 0 1.5rem;
}

.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header_item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header_items{
    margin: 0 1rem;
    padding: 0;
}

.main-header_items a{
    text-decoration: none;
    color: rgb(254, 17, 17);
}

.main-header_items a:hover,
.main-header_items a:active,
.main-header_items a.active {
    color: rgb(61, 96, 236);
}